html {background-color:lightblue;
text-align: center;}
h1{color:black;text-shadow:}
.input {font-family: 'Quicksand', sans-serif;}
.container {width: 100%; margin:0;}
nav {float: center;}
nav ul {margin:0; padding: 5px; list-style: none;}
nav li {display: inline-block; margin-left: 45px; padding-top: 5px; margin-right: 45px; margin-bottom: 10px; position: relative; flex-direction: row;}
nav a {text-decoration: none; text-transform: uppercase; font-size: 24px;}
nav a:hover {color: black;}
nav a::before {content: ""; display: block; height: 5px; width: 100%; background-color: black; position: absolute; top: 0; width: 0%;}
nav a:hover::before {width: 100%;}
